.EmojiResultItem {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 32px;
    position: relative;

}

.EmojiResultItem:hover {
    background-color: #eee;
}

.EmojiResultItem .symbol {
    width: 32px;
    height: 32px;
    padding-right: 10px;
  }
.EmojiResultItem .title {
  position: relative;
  top: -8px;
  }
